__pycache__
python-introducao-a-collections/aula2.3/Introdução_a_Collections.ipynb
python-introducao-a-collections/aula2.3/introdução_a_collections.py
python-introducao-a-collections/aula4.1/Introdução_a_Collections.ipynb
python-introducao-a-collections/aula4.1/introdução_a_collections.py
python-introducao-a-collections/aula7.2/Introdução_a_Collections.ipynb
python-introducao-a-collections/aula7.2/introdução_a_collections.py
python-introducao-a-collections/aula8.1/Introdução_a_Collections.ipynb
python-introducao-a-collections/aula8.1/introdução_a_collections.py
python-introducao-a-collections2/.DS_Store
python-introducao-a-collections2/aula2.1/Continuando_com_Collections.ipynb
python-introducao-a-collections2/aula2.1/continuando_com_collections.py
python-introducao-a-collections2/aula5.1/Continuando_com_Collections.ipynb
python-introducao-a-collections2/aula5.1/continuando_com_collections.py
pios/config.py
